@media (max-width: 767px) {
    /* 767px */
    .page-header.navbar {
        background:#4B77BE!important;
        /* Top menu */ }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
        background-color: #eff1f6; } }

form{
    margin-bottom: 0px !important;
}

.blockOverlay{
    z-index: 160000 !important;
}
.black-font{
 color:#000 !important;
}

.blue-steel-table th{
    border: 1px solid #4B77BE !important;
    font-size: 1em;
    color: #fff;
    border-bottom: none;
    background-color: #4B77BE;
    text-align: center;
    white-space: nowrap;
    padding: 8px;
}
.blue-steel-table td {
    border: 1px solid #4B77BE !important;
    color: #000;
}