<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distribution.dao.dividend.mapper.more.MoreDividendMapper" >
  <resultMap id="BaseResultMap" type="com.distribution.dao.dividend.model.Dividend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="dividend_count" property="dividendCount" jdbcType="INTEGER" />
    <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
    <result column="remain_amount" property="remainAmount" jdbcType="DECIMAL" />
    <result column="dividend_limit" property="dividendLimit" jdbcType="DECIMAL" />
    <result column="dividend_status" property="dividendStatus" jdbcType="VARCHAR" />
    <result column="mgmt_fee" property="mgmtFee" jdbcType="DECIMAL" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_id, order_id, order_no, order_amount, dividend_count, received_amount, 
    remain_amount, dividend_limit, dividend_status, mgmt_fee, create_id, create_time, 
    update_id, update_time
  </sql>
  <sql id="where">
    <where>
      <if test="memberId!=null and memberId!=''">
        AND member_id = #{memberId}
      </if>
      <if test="dividendStatus!=null and dividendStatus!=''">
        AND dividend_status = #{dividendStatus}
      </if>
    </where>
  </sql>
  <sql id="pageLimit">
    <if test="pageSize!=null">
      <if test="offset!=null">
        LIMIT #{pageSize} OFFSET #{offset}
      </if>
    </if>
  </sql>
  <select id="getDividendList" resultMap="BaseResultMap" parameterType="com.distribution.common.utils.Page" >
    select
    <include refid="Base_Column_List" />
    from dividend
    <include refid="where"/>
    <include refid="pageLimit"/>
    order by id desc
  </select>
  <select id="getDividendListCount" resultType="java.lang.Integer" parameterType="com.distribution.common.utils.Page" >
    select
     count(0) as count
    from dividend
    <include refid="where"/>
  </select>
</mapper>