<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 激活@Requird @Autowired @PostConstruct @Resource等-->
    <context:annotation-config/>

    <!-- 只扫描controller DispatcherServlet 上下文， 只搜索@Controller 标注的类 ，不搜索其他标注的类-->

    <context:component-scan base-package="com.distribution">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>


    <!-- 扩充了注解驱动，启用基于annotation 的 HandlerMapping  -->
    <mvc:annotation-driven />

    <!-- 访问静态资源映射 <mvc:default-servlet-handler/> -->
    <mvc:resources mapping="/static/**" location="/static/" />
    <mvc:resources mapping="/app/**" location="/app/" />


    <!-- 告诉DispatcherServlet 视图模式-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />

    </bean>

    <!--支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- set the max upload size 200MB -->
        <property name="maxUploadSize" value="209715200" />
        <!-- 默认编码-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 延迟加载-->
        <property name="resolveLazily" value="true"/>
    </bean>

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/app/**"/>
            <bean class="com.distribution.common.intercept.LoginInterceptorAdaptor"/>
        </mvc:interceptor>
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/member/jump"/>-->
            <!--<mvc:exclude-mapping path="/member/login"/>-->
            <!--<mvc:exclude-mapping path="/member/logout"/>-->
            <!--<mvc:exclude-mapping path="/role/**"/>-->
            <!--<mvc:exclude-mapping path="/menu/**"/>-->
            <!--<mvc:exclude-mapping path="/index/**"/>-->
            <!--<mvc:exclude-mapping path="/static/**"/>-->
            <!--<mvc:exclude-mapping path="/app/**"/>-->
            <!--<bean class="com.distribution.common.intercept.AuthInterceptorAdaptor"/>-->
        <!--</mvc:interceptor>-->

    </mvc:interceptors>
</beans>