<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">奖金明细</h4>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-body">
                <div class="table-toolbar">

                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-5">订单编号</label>
                                <div class="col-md-7">
                                    <input type="search"
                                           ng-model="myPage.parameterMap.orderNo"
                                           class="form-control input-sm input-small input-inline"
                                           placeholder="输入订单编号"
                                           aria-controls="sample_1">
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="col-md-12">
                                    <label class="control-label check mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" checked ng-model="myPage.parameterMap.chinaPresidentBonusYN"/>
                                        <span style="margin-top: 8px;"></span>全国董事奖
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">订单日期</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" ng-model="myPage.parameterMap.orderStartDate" name="from">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" ng-model="myPage.parameterMap.orderEndDate" name="to"></div>
                                </div>

                            </div>
                            <div class="form-group col-md-1">
                                <div class="col-md-12">
                                    <button type="button" class="btn green" ng-click="searchByParam()"><i class="fa fa-search"></i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover"
                               id="sample_1">
                            <thead>
                            <tr >
                                <th class="text-center">订单编号</th>
                                <th class="text-center">推荐人</th>
                                <th class="text-center">购买会员</th>
                                <th class="text-center">订单金额</th>
                                <th class="text-center">订单日期</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">奖金总额</th>
                                <th class="text-center">管理费</th>
                                <th class="text-center">实到</th>
                                <th class="text-center">分销记录明细</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-show= "!notData" class="odd gradeX" dir-paginate="row in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo"
                                    total-items="myPage.totalCount">
                                    <td ng-show="row.orderNo==0" class="text-center">全国董事奖</td>
                                    <td ng-show="row.orderNo!=0" class="text-center">{{row.orderNo}}</td>
                                    <td class="text-center">{{row.recommendName}}</td>
                                    <td class="text-center">{{row.memberName}}</td>
                                    <td class="text-right">{{row.orderAmount | number:2}}</td>
                                    <td class="text-center">{{row.orderDate | date:'yyyy-MM-dd'}}</td>
                                    <td class="text-center">已到账</td>
                                    <td class="text-right">{{row.amoutTotal | number:2}}</td>
                                    <td class="text-right">{{row.manageFeeTotal | number:2}}</td>
                                    <td class="text-right">{{row.actualAmoutTotal | number:2}}</td>
                                    <td class="text-center" ng-show="row.orderNo!=0"><a href="javascript:" ng-click="searchBonusDetail(row.orderNo, row.orderStartDate, row.orderEndDate)" >获奖明细</a></td>
                                    <td class="text-center" !ng-show="row.orderNo=0"></td>
                                </tr>
                                <tr ng-show= "notData" >
                                    <td colspan="11">无记录</td>
                                </tr>
                            </tbody>
                        </table>
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                                         template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<script type="text/ng-template" id="bonusDetail.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">获奖明细</h3>
    </div>
    <div class="modal-body">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center"> 获奖会员 </th>
                    <th scope="col" class="text-center"> 获奖项 </th>
                    <th scope="col" class="text-center"> 获得奖金</th>
                    <th scope="col" class="text-center"> 管理费</th>
                    <th scope="col" class="text-center"> 实得奖金 </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datas">
                    <td class="text-center"> {{data.memberName}} </td>
                    <td class="text-center"> {{data.bonusType | StatusFilter}} </td>
                    <td class="text-right"> {{data.amoutTotal | number:2}}</td>
                    <td class="text-right"> {{data.manageFeeTotal | number:2}} </td>
                    <td class="text-right"> {{data.actualAmoutTotal  | number:2}} </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">关闭</button>
    </div>
</script>
<!-- END MAIN CONTENT -->
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>