<h4 class="page-title">运营中心管理</h4>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">会员姓名</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control input-sm input-small input-inline" placeholder="请输入会员姓名" aria-controls="sample_1" maxlength="20" ng-model="myPage.parameterMap.name">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">爵位</label>
                                <div class="col-md-7">
                                    <select class="form-control input-sm input-small input-inline" ng-options="dic.dicCode as dic.dicName for dic in posts" ng-model="myPage.parameterMap.post"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">会员等级</label>
                                <div class="col-md-7">
                                    <select class="form-control input-sm input-small input-inline" ng-options="dic.dicCode as dic.dicName for dic in levels" ng-model="myPage.parameterMap.level"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-1">
                                <div class="col-md-12">
                                    <button type="button" class="btn green" ng-click="search();"><i class="fa fa-search"></i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                            <thead>
                                <tr >
                                    <th>会员名称</th>
                                    <th>累计订单金额</th>
                                    <th>会员等级</th>
                                    <th>爵位</th>
                                    <th>推荐人</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="ope in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.PageNo" total-items="myPage.totalCount">
                                    <td>{{ope.memberName}}</td>
                                    <td>{{ope.totalOrderAmount}}</td>
                                    <td>{{ope.memberLevel|MemberLevelFilter}}</td>
                                    <td>{{ope.memberPost|PostLevelFilter}}</td>
                                    <td>{{ope.recommendName}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="other-controller">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>