<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">充值管理</h4>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet blue-steel box">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject bold uppercase">充值管理</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">申请人</label>
                                <div class="col-md-7">
                                    <input type="search"
                                           ng-model="myPage.parameterMap.memberName"
                                           class="form-control input-sm input-small input-inline"
                                           placeholder="输入姓名"
                                           aria-controls="sample_1">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">申请状态</label>
                                <div class="col-md-7">
                                    <select class="form-control input-sm input-inline" ng-model="myPage.parameterMap.status">
                                        <option value="">全部</option>
                                        <option value="0">审核中</option>
                                        <option value="1">待充值</option>
                                        <option value="2">审核驳回</option>
                                        <option value="3">充值成功</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">申请时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap.startTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.endTime">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">充值时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap.chargeStartTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.chargeEndTime">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="col-md-12">
                                    <button type="button" class="btn blue-steel" ng-click="searchByParam();"><i class="fa fa-search"></i> 查询</button>
                                    <button type="button" class="btn green" ng-click="excelDownload();"><i class="fa fa-download"></i>下载</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table blue-steel-table table-bordered table-hover "
                               id="sample_1">
                            <thead>
                            <tr >
                                <th class="text-center">申请人</th>
                                <!--<th class="text-center">电话</th>-->
                                <th class="text-center">打款时间</th>
                                <th class="text-center">打款方式</th>
                                <th class="text-center">申请时间</th>
                                <th class="text-center">审批时间</th>
                                <th class="text-center">充值金额</th>
                                <th class="text-center">充值时间</th>
                                <th class="text-center">充值方式</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">申请备注</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show= "!notData" class="odd gradeX" dir-paginate="memberCharge in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                <td class="text-center">{{memberCharge.memberName}}</td>
                                <!--<td class="text-center">{{memberCharge.memberPhone}}</td>-->
                                <td class="text-center">{{memberCharge.payMoneyTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td class="text-left">{{memberCharge.payMoneyType}}</td>
                                <td class="text-center">{{memberCharge.chargeRequestTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td class="text-center">{{memberCharge.chargeApplyTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td class="text-right">{{memberCharge.chargeAmt | number:2 }}</td>
                                <td class="text-center">{{memberCharge.chargeTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td class="text-center">{{memberCharge.chargeMoneyType | MemberChargeTypeFilter}}</td>
                                <td class="text-center">
                                    <span class="label label-sm " ng-class="{'label-info': memberCharge.status == '0' || memberCharge.status == '1','label-success': memberCharge.status == '3','label-warning': memberCharge.status == '2'}">{{memberCharge.status | MemberChargeStatusFilter}} </span>
                                    <a href="javascript:" ng-click="getRemarks(memberCharge.remarks)" ng-show="{{memberCharge.status == '2'}}">&nbsp;审批备注</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:" ng-click="getApplyInfo(memberCharge.applyInfo)" >申请备注详情</a>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-circle" ng-show="currentUser.roleId == '3'">
                                        <button type="button" class="btn btn-outline green btn-sm"  ng-click="confirmMemberCharge(memberCharge.id, memberCharge.memberId, memberCharge.memberName, '1')" ng-show="{{memberCharge.status == '0'}}">批准</button>
                                        <button type="button" class="btn btn-outline red btn-sm" ng-click="rejectMemberCharge(memberCharge.id, memberCharge.memberId, memberCharge.memberName, '2')" ng-show="{{memberCharge.status == '0'}}">驳回</button>
                                    </div>
                                    <button type="button"
                                            ng-show="{{memberCharge.status == '1' && currentUser.roleId == '2'}}"
                                            class="btn btn-outline blue-steel btn-xs"
                                            ng-click="AddMemberCharge(memberCharge.id, memberCharge.memberId, memberCharge.memberName, memberCharge.chargeAmt, '3')">确认充值</button>
                                </td>
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="11" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="other-controller">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script type="text/ng-template" id="admMemberChargeApproval.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">填写审批备注</h3>
    </div>
    <div class="modal-body">
        <div class="portlet-body form">
            <form role="form">
                <div class="form-body">
                    <textarea class="form-control" ng-model="datas.remarks" maxlength="100" style="width: 100%; " rows="5"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue-steel" ng-click="reject(datas.id,datas.memberId,datas.memberName,datas.status,datas.remarks);">提交</button>
        <button type="button" class="btn default" ng-click="close()">取消</button>
    </div>
</script>
<script type="text/ng-template" id="memberChargeRemarks.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">审批备注详情</h3>
    </div>
    <div class="modal-body">
        {{datas.remarks}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue-steel" ng-click="close()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="memberChargeApplyInfo.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">申请备注详情</h3>
    </div>
    <div class="modal-body">
        {{datas.applyInfo}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue-steel" ng-click="close()">关闭</button>
    </div>
</script>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>