<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">积分兑换记录</h4>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet blue-steel box">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject bold uppercase">积分兑换记录</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">兑换单状态</label>
                                    <div class="col-md-7">
                                    <select class="form-control input-sm input-small input-inline" ng-model="myPage.parameterMap.orderStatus">
                                        <option value="">全部</option>
                                        <option value="1">待支付</option>
                                        <option value="2">待发货</option>
                                        <option value="3">待收货</option>
                                        <option value="4">兑换单完成</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">兑换单号</label>
                                <div class="col-md-7">
                                    <input type="search"
                                           class="form-control input-sm input-small input-inline"
                                           placeholder=""
                                           maxlength="15"
                                           placeholder="输入兑换单号"
                                           aria-controls="sample_1" ng-model="myPage.parameterMap.orderNo">
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">兑换时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap.startTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.endTime">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-md-1">
                                <div class="col-md-12">
                                    <button type="button" class="btn blue-steel" ng-click="searchByParam();"><i class="fa fa-search"></i>查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table blue-steel-table table-bordered table-hover "
                               id="sample_1">
                            <thead>
                            <tr >
                                <th class="text-center" width="10%">兑换单号</th>
                                <th class="text-center" width="5%">兑换单金额</th>
                                <th class="text-center" width="5%">兑换单类型</th>
                                <th class="text-center" width="5%">支付方式</th>
                                <th class="text-center" width="5%">支付积分</th>
                                <th class="text-center" width="5%">快递费</th>
                                <th class="text-center" width="25%">商品名信息</th>
                                <th class="text-center" width="12%">兑换时间</th>
                                <th class="text-center" width="5%">兑换单状态</th>
                                <th class="text-center" width="9%">物流信息</th>
                                <th class="text-center" width="9%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-show= "!notData" class="odd gradeX" dir-paginate="pointOrder in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                    <td class="text-left">{{pointOrder.orderNo}}</td>
                                    <td class="text-left">{{pointOrder.orderAmt | number:2}}</td>
                                    <td class="text-left">{{pointOrder.orderCategory|PointOrderCategoryFilter}}</td>
                                    <td class="text-left">积分</td>
                                    <td class="text-left">{{pointOrder.pointAmt | number:2}}</td>
                                    <td class="text-left">{{pointOrder.expressFee | number:2}}</td>
                                    <td class="text-left">
                                        {{pointOrder.goodsNm}}
                                        <span ng-show="pointOrder.goodsNm != null">,</span>
                                        {{pointOrder.orderQty}}
                                        <span ng-show="pointOrder.orderQty != null">个</span>
                                    </td>
                                    <td class="text-left">{{pointOrder.createTime|date:'yyyy-MM-dd'}}</td>
                                    <td class="text-left">
                                        <span class="label label-sm " ng-class="{'label-default': pointOrder.orderStatues == '1', 'label-info': pointOrder.orderStatues == '2', 'label-primary': pointOrder.orderStatues == '3', 'label-success': pointOrder.orderStatues == '4'}">
                                        {{pointOrder.orderStatues|PointOrderStatuesFilter}}
                                        </span>
                                    </td>
                                    <td class="text-left">
                                        <button type="button" class="btn btn-outline green-steel btn-xs" ng-click="expressMessageSearch(pointOrder.expressNo, pointOrder.expressAddress, pointOrder.sendbypostyn, pointOrder.orderStatues)" ng-show="pointOrder.bonusAccountType != '1' && pointOrder.sendbypostyn == '2'">物流信息</button>
                                        <span ng-show="pointOrder.sendbypostyn == '1'">自提</span>
                                    </td>
                                    <td class="text-left">
                                        <!--<div class="btn btn-circle">-->
                                            <button type="button" class="btn btn-outline blue-steel btn-xs" ng-click="confirmOrder(pointOrder.id,'4')" ng-show="{{pointOrder.orderStatues == '3'}}">确认收货</button>
                                        <!--</div>-->
                                    </td>
                                </tr>
                                <tr class="text-center" ng-show= "notData">
                                    <td colspan="11" class="text-center">无记录</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="other-controller">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="expressMessage.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">物流信息</h3>
    </div>
    <div class="modal-body">
        <div class="portlet-body form">
            <form role="form">
                <div class="form-body">
                    <div class="form-group col-md-12" ng-show="datas.expressNo != null">
                        <label class="control-label col-md-3">快递信息:</label>
                        <div class="col-md-9">
                            {{datas.expressNo}}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">收货地址:</label>
                        <div class="col-md-9">
                            {{datas.expressAddress}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" ng-click="close()">返回</button>
    </div>
</script>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>