<h4 class="page-title">公告管理</h4>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn sbold blue-steel" ng-click="gotoAddPage()">创建公告
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="row col-md-12">
                                <div class="form-group col-md-3">
                                    <label class="control-label col-md-5">公告标题</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control input-sm input-small input-inline" placeholder="请输入公告" aria-controls="sample_1" maxlength="30" ng-model="myPage.parameterMap.title">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label col-md-5">公告级别</label>
                                    <div class="col-md-7">
                                        <select class="form-control input-sm input-small input-inline" ng-model="myPage.parameterMap.level">
                                            <option value="">全部</option>
                                            <option value="1">一般</option>
                                            <option value="2">紧急</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label col-md-5">作者</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control input-sm input-small input-inline" placeholder="请输入作者姓名" aria-controls="sample_1" maxlength="30" ng-model="myPage.parameterMap.name">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="button" class="btn blue-steel pull-right" ng-click="search();"><i class="fa fa-search"></i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th class="text-center">标题</th>
                                    <th class="text-center">级别</th>
                                    <th class="text-center">作者</th>
                                    <th class="text-center">创建时间</th>
                                    <th class="text-center">激活时间</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-show= "!notData" dir-paginate="notice in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                    <td class="text-center">{{notice.title}}</td>
                                    <td class="text-center">{{notice.level|NoticeLevelFilter}}</td>
                                    <td class="text-center">{{notice.name}}</td>
                                    <td class="text-center">{{notice.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-center">{{notice.noticeTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-center">{{notice.publishingState|PublishFilter}}</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" ng-show="notice.publishingState=='N'" ng-click="publish(notice.id);" class="btn btn-xs grey-cascade">发布</a>
                                        <a href="javascript:void(0);" ng-show="notice.publishingState=='Y'" ng-click="cancel(notice.id);" class="btn btn-xs grey-cascade">取消发布</a>
                                        <a href="javascript:void(0);" ng-click="gotoAddPage(notice.id);" class="btn btn-xs grey-cascade">编辑</a>
                                        <a href="javascript:void(0);" ng-click="delete(notice.id);" class="btn btn-xs grey-cascade">删除</a>
                                    </td>
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="10" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="other-controller">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>