<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">提现管理</h4>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-body">
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">用户名</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control input-sm input-small input-inline" aria-controls="sample_1" ng-model="myPage.parameterMap.memberName">
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">提现状态</label>
                                <div class="col-md-7">
                                    <select class="form-control input-sm input-xsmall input-inline" ng-model="myPage.parameterMap.statues">
                                        <option value="">全部</option>
                                        <option value="1">申请中</option>
                                        <option value="2">已执行</option>
                                        <option value="3">已驳回</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">申请时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap.startTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.endTime">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-md-1">
                                <div class="col-md-12">
                                    <button type="button" class="btn blue-steel" ng-click="searchByParam();"><i class="fa fa-search"></i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover "
                               id="sample_1">
                            <thead>
                            <tr>
                                <th width="10%" >用户名</th>
                                <th width="8%" >提现金额</th>
                                <th width="8%" >手续费</th>
                                <th width="8%" >实到金额</th>
                                <th width="10%" >申请日期</th>
                                <th width="34%" >账户信息</th>
                                <th width="8%" >状态</th>
                                <th width="14%" >操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show= "!notData" class="odd gradeX" dir-paginate="advance in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                <td class="text-left">{{advance.memberName}}</td>
                                <td class="text-left">{{advance.reqAmt | number:2}}</td>
                                <td class="text-left">{{advance.feeAmt | number:2}}</td>
                                <td class="text-left">{{advance.actAmt | number:2}}</td>
                                <td class="text-left">{{advance.requestDate|date:'yyyy-MM-dd'}}</td>
                                <td class="text-left">{{advance.cardName}}|{{advance.bankName}}|{{advance.cardNo}}</td>
                                <td class="text-left">{{advance.statues|AdvanceStatuesFilter}}</td>
                                <td class="text-left">
                                    <div class="btn-group btn-group-circle">
                                        <button type="button" class="btn btn-outline green btn-sm"  ng-click="confirmAdvance(advance.id, advance.reqAmt, '2')" ng-show="{{advance.statues == '1'}}">批准</button>
                                        <button type="button" class="btn btn-outline red btn-sm" ng-click="rejectAdvance(advance.id, '3')" ng-show="{{advance.statues == '1'}}">驳回</button>
                                    </div>
                                    <!--<a href="javascript:" ng-click="confirmAdvance(advance.id,'2')" ng-show="{{advance.statues == '1'}}">批准</a>-->
                                    <!--<a href="javascript:" ng-click="rejectAdvance(advance.id,'3')" ng-show="{{advance.statues == '1'}}">驳回</a>-->
                                </td>
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="8" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="other-controller">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script type="text/ng-template" id="admAdvanceApproval.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">填写审批备注</h3>
    </div>
    <div class="modal-body">
        <div class="portlet-body form">
            <form role="form">
                <div class="form-body">
                    <textarea class="form-control" ng-model="datas.remark" maxlength="100" style="width: 100%; " rows="5"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue-steel" ng-click="reject(datas.id,datas.statues,datas.remark);">提交</button>
        <button type="button" class="btn default" ng-click="close()">取消</button>
    </div>
</script>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>