<h4 class="page-title">账户管理</h4>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <div class="row">
                     <div class="col-md-12">
                         <uib-tabset  >
                             <uib-tab index="0" heading="转账">
                                 <div class="note note-success note-bordered">
                                     <h4>奖金币余额：{{accountInfo.bonusAmt | number:2}}元</h4>
                                 </div>
                                 <form role="form" action="#">
                                     <div class="form-group"  ng-class="{'has-error':validateErrors.transferAmtError}">
                                         <label class="control-label">转账金额</label>
                                         <input type="number" ng-model="transfer.transferAmt" placeholder="转账金额" class="form-control input-circle" /></div>
                                     <div class="form-group" ng-class="{'has-error':validateErrors.receivePhoneError}">
                                         <label class="control-label">收款账户</label>
                                         <input type="text" ng-model="transfer.receivePhone" placeholder="收款账户" class="form-control input-circle" /></div>
                                     <div class="form-group"  ng-class="{'has-error':validateErrors.payPasswordError}">
                                         <label class="control-label">支付密码</label>
                                         <input type="password" ng-model="transfer.payPassword" placeholder="输入支付密码" class="form-control input-circle" /> </div>
                                     <div class="margiv-top-10">
                                         <a href="#" ng-click="commitTransfer()" class="btn green-haze">提交转账</a>
                                     </div>
                                 </form>
                             </uib-tab>
                             <uib-tab index="1" heading="复投">
                                 <div class="note note-success note-bordered">
                                     <h4>奖金币余额：{{accountInfo.bonusAmt | number:2}}元 </h4>
                                     <h4>种子币余额：{{accountInfo.seedAmt | number:2}}元</h4>
                                 </div>
                                 <form action="#">
                                     <div class="form-group" ng-class="{'has-error':reOrdervalidateErrors.orderQtyError}">
                                         <label class="control-label">复投单数（600元/单）</label>
                                         <div>
                                           <input type="number" ng-model="reOrder.orderQty"   placeholder="输入单数" class="form-control input-circle" />
                                         </div>
                                     </div>
                                     <div class="form-group" >
                                         <label class="control-label">复投需支付金额</label>
                                         <input type="number"  ng-model="reOrder.orderAmt" value="{{reOrder.orderQty * reOrder.price}}"readonly  class="form-control input-circle" />
                                     </div>
                                     <div class="form-group" ng-class="{'has-error':reOrdervalidateErrors.seedAmtError}">
                                         <label class="control-label">从种子币中扣除</label>
                                         <input type="number"  ng-model="reOrder.seedAmt"  placeholder="输入金额" class="form-control input-circle" />
                                     </div>
                                     <div class="form-group" ng-class="{'has-error':reOrdervalidateErrors.bonusAmtError}">
                                         <label class="control-label">从奖金币中扣除</label>
                                         <input type="number"  ng-model="reOrder.bonusAmt"  placeholder="输入金额" class="form-control input-circle" />
                                     </div>
                                     <div class="form-group"  ng-class="{'has-error':reOrdervalidateErrors.payPasswordError}">
                                         <label class="control-label">支付密码</label>
                                         <input type="password" ng-model="reOrder.payPassword" placeholder="输入支付密码" class="form-control input-circle" /> </div>
                                     <div class="margin-top-10">
                                         <a href="#" ng-click="reOrderCommit()" class="btn green-haze"> 提交复投</a>
                                     </div>
                                 </form>
                             </uib-tab>
                         </uib-tabset>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>