<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">账户管理</h4>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet blue-steel box">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject bold uppercase">转账记录</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn sbold blue-steel" ng-click="gotoTransferReorder()" > 转账/复投
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">收款人</label>
                                <div class="col-md-7">
                                    <input type="search"
                                           ng-model="myPage.parameterMap.receiveName"
                                           class="form-control input-sm input-small input-inline"
                                           placeholder="输入姓名"
                                           aria-controls="sample_1">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">转账状态</label>
                                <div class="col-md-7">
                                    <select class="form-control input-sm input-inline" ng-model="myPage.parameterMap.status">
                                        <option value="">全部</option>
                                        <option value="0">转账成功</option>
                                        <option value="1">已撤销</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">转账时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap.startTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.endTime">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">撤销时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap. cancelStartTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.cancelEndTime">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="col-md-12">
                                    <button type="button" class="btn blue-steel" ng-click="searchByParam();"><i class="fa fa-search"></i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table blue-steel-table table-bordered table-hover "
                               id="sample_1">
                            <thead>
                            <tr >
                                <th class="text-center">转账人</th>
                                <th class="text-center">转账人电话</th>
                                <th class="text-center">收款人</th>
                                <th class="text-center">收款人电话</th>
                                <th class="text-center">转账时间</th>
                                <th class="text-center">转账金额</th>
                                <th class="text-center">撤销时间</th>
                                <th class="text-center">状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show= "!notData" class="odd gradeX" dir-paginate="transfer in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                <td class="text-center">{{transfer.memberName}}</td>
                                <td class="text-center">{{transfer.memberPhone}}</td>
                                <td class="text-center">{{transfer.receiveName}}</td>
                                <td class="text-center">{{transfer.receivePhone}}</td>
                                <td class="text-center">{{transfer.transferTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td class="text-right">{{transfer.transferAmt | number:2}}</td>
                                <td class="text-center">{{transfer.cancelTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td class="text-center">{{transfer.status | TransferTypeFilter}}</td>
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="8" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="other-controller">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>