<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distribution.dao.memberNode.mapper.more.MoreMemberNodeMapper" >
  <resultMap id="BaseResultMap" type="com.distribution.dao.memberNode.model.MemberNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="left_id" property="leftId" jdbcType="INTEGER" />
    <result column="right_id" property="rightId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="member_total" property="memberTotal" jdbcType="INTEGER" />
    <result column="sales_total" property="salesTotal" jdbcType="DOUBLE" />
  </resultMap>
  <resultMap id="MoreResultMap" type="com.distribution.dao.memberNode.model.more.MoreMemberNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="left_id" property="leftId" jdbcType="INTEGER" />
    <result column="right_id" property="rightId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="member_total" property="memberTotal" jdbcType="INTEGER" />
    <result column="sales_total" property="salesTotal" jdbcType="DOUBLE" />
    
    <result column="member_phone" property="memberPhone" jdbcType="VARCHAR" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    
    <result column="rownum" property="rownum" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="first_agent_cnt" property="firstAgentCnt" jdbcType="INTEGER" />
    
    <result column="member_level" property="memberLevel" jdbcType="VARCHAR" />
    <result column="left_level" property="leftLevel" jdbcType="VARCHAR" />
    <result column="right_level" property="rightLevel" jdbcType="VARCHAR" />
    <result column="member_post" property="memberPost" jdbcType="VARCHAR" />
    <result column="is_operator" property="isOperator" jdbcType="VARCHAR" />
    <result column="is_sales_dept" property="isSalesDept" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, left_id, right_id, parent_id, create_time, create_by, update_time, update_by, 
    member_total, sales_total
  </sql>
  
  <insert id="insertBackId" useGeneratedKeys="true" keyProperty="id" parameterType="com.distribution.dao.memberNode.model.MemberNode" >
    insert into member_node (left_id, right_id, 
      parent_id, create_time, create_by, 
      update_time, update_by, member_total, 
      sales_total)
    values (#{leftId,jdbcType=INTEGER}, #{rightId,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{memberTotal,jdbcType=INTEGER}, 
      #{salesTotal,jdbcType=DOUBLE})
  </insert>
  <select id="findParentNodes" resultMap="BaseResultMap" parameterType="map">
  		select id from member_node
		where id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids}
		</foreach>
		order by id desc
  </select>
  <select id="findTotalSalesByParentId" resultType="java.lang.Double" parameterType="map">
  		select ifnull(sum(o.order_amt),0) as total_sales from member m
		left join order_master o on m.id = o.member_id
		where m.node_id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids}
		</foreach>  
		and (o.order_category = 1 or o.order_category = 2)
		<if test="startDate != null">
			<![CDATA[ and date(o.create_time) >= date(#{startDate})]]>
		</if>
		<if test="endDate != null">
    		<![CDATA[and date(o.create_time) <= date(#{endDate})]]>
		</if>
  </select>
  <select id="findTotalSalesByParentIdNotIncludeCurrentNode" resultType="java.lang.Double" parameterType="map">
  		select ifnull(sum(o.order_amt),0) as total_sales from member m
		left join order_master o on m.id = o.member_id
		where m.node_id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids}
		</foreach>
		and (o.order_category = 1 or o.order_category = 2)
		and m.node_id != #{parentId}
  </select>
  <select id="listParentNodesWhichHasTwoSubNodes" resultMap="MoreResultMap" parameterType="map">
  		SELECT tep.*,
  			rt.member_post as right_level,
  			lt.member_post as left_level
		from 
		(
			SELECT 
				m.id as member_id,
				m.node_id as id,
				n.left_id,
				n.right_id
			from member m
			LEFT JOIN member_node n on m.node_id = n.id
			where node_id in 
			<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
			  #{ids}
			</foreach> 
			and member_post = #{fromLevel}
			and n.left_id > 0
			and n.right_id > 0
			order by node_id desc
		)tep
		LEFT JOIN member lt on lt.node_id = tep.left_id
		LEFT JOIN member rt on rt.node_id = tep.right_id
  </select>
  <select id="listParentIsManageLevelNodes" resultMap="MoreResultMap" parameterType="map">
  		select max(id) as member_id,member_post
		from 
		(select m.id,m.member_post
		from member m
		where node_id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids}
		</foreach>
		order by node_id desc)tem
		group by member_post
  </select>
  <select id="listSubNodes" resultMap="MoreResultMap" parameterType="map">
  		select 
			n.id,
			n.left_id,
			n.right_id,
			n.create_time,
			m.member_name,
			m.member_phone,
			m.order_amount
		from member_node n
		left join member m 
		on n.id = m.node_id
		where n.id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids}
		</foreach>
		order by n.id asc
  </select>
  <select id="listSubNodesByRecommendNode" resultMap="BaseResultMap" parameterType="map">
  		select 
			n.id,
			n.left_id,
			n.right_id,
			n.parent_id
		from member_node n
		left join member m on n.id = m.node_id
		where m.status = 'Y' and n.id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids}
		</foreach>
		order by n.id asc
  </select>
  <select id="listParentNodesWithMemberInfo" resultMap="MoreResultMap" parameterType="map">
  		set @rownum=-1;
		select @rownum:=@rownum+1 as rownum,
		m.id as member_id,
		m.node_id as id,
		m.first_agent_cnt,
		m.is_operator,
		m.is_sales_dept
		from member m
		where m.node_id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids}
		</foreach>
		order by m.node_id desc
  </select>
  <update id="updateParentLevel" parameterType="map">
  		update member 
  		set member_post = #{toLevel}
		where member_post = #{fromLevel} 
		and node_id in 
        <foreach collection="list" item="ids" index="index" open="(" close=")" separator=",">
		  #{ids.id}
		</foreach>
  </update>
  <select id="getSubNodesIsSalesDept" resultType="java.util.Map" parameterType="java.lang.Integer">
  		select 
			n.id as node_id,
			n.left_id,
			mlt.id as left_member_id,
			mlt.is_sales_dept as left_sales_dept,
			n.right_id,
			rlt.id as right_member_id,
			rlt.is_sales_dept as right_sales_dept
		from member_node n
		left join member mlt on n.left_id = mlt.node_id
		left join member rlt on n.right_id = rlt.node_id
		where n.id = #{nodeId}
  </select>
  <select id="getSubNodes" resultType="java.lang.String" parameterType="java.lang.Integer">
  	SELECT getChildList(#{nodeId})
  </select>
  <select id="getParentNodes" resultType="java.lang.String" parameterType="java.lang.Integer">
  	SELECT getParentList(#{nodeId})
  </select>
  <select id="getMemberNodeByMemberId" resultType="com.distribution.dao.memberNode.model.MemberNode"  parameterType="java.lang.Integer">
		SELECT
			id,
			left_id as leftId,
			right_id as rightId
		FROM
			member_node n
		WHERE
			EXISTS (
				SELECT
					1
				FROM
					member m
				WHERE
					m.id = #{memberId}
				AND n.id = m.node_id
		)
	</select>
	<update id="updateRemoveMemberNode" parameterType="java.util.Map">
		UPDATE member_node
		SET
		<if test="rightId != null and rightId != ''">
			right_id = NULL
		</if>
		<if test="leftId != null and leftId != ''">
			left_id = NULL
		</if>
		WHERE
			id = #{id}
		<if test="rightId != null and rightId != ''">
			and right_id = #{rightId}
		</if>
		<if test="leftId != null and leftId != ''">
			and left_id = #{leftId}
		</if>
	</update>
	<select id="countRecommendedTotal" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT ifnull(count(1),0) as total 
		from member 
		where recommend_id = #{memberId} and `status` = 'Y'
	</select>
	<select id="listOperatorLeftAndRightSales" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT m.node_id as nodeId,m.member_name as nodeName
		from member m
		where m.is_operator = 'Y'
		limit #{offset},#{pageSize}
	</select>
	<select id="countOperatorLeftAndRightSales" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT count(1) as totalCount
		from member m
		where m.is_operator = 'Y'
	</select>
</mapper>