<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">商品列表</h4>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <a  ng-click="detail();" style="text-decoration: none;" class="caption-subject font-green bold uppercase">金茶花颗粒（64克/盒）</br>600.00</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="mt-element-overlay">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-overlay-1" style="width: 258px;height: 258px">
                                                <img  src="{{settings.assetsPath}}/pages/img/page_general_search/01.jpg" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a  ng-click="detail();" class="btn default btn-outline" >
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <a  ng-click="detail();" style="text-decoration: none;" class="caption-subject font-green bold uppercase">金茶花颗粒（64克/盒）</br>600.00</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="mt-element-overlay">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-overlay-1" style="width: 258px;height: 258px">
                                                <img  src="{{settings.assetsPath}}/pages/img/page_general_search/01.jpg" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a  ng-click="detail();" class="btn default btn-outline" >
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <a  ng-click="detail();" style="text-decoration: none;" class="caption-subject font-green bold uppercase">金茶花颗粒（64克/盒）</br>600.00</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="mt-element-overlay">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-overlay-1" style="width: 258px;height: 258px">
                                                <img  src="{{settings.assetsPath}}/pages/img/page_general_search/01.jpg" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a  ng-click="detail();" class="btn default btn-outline" >
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <a  ng-click="detail();" style="text-decoration: none;" class="caption-subject font-green bold uppercase">金茶花颗粒（64克/盒）</br>600.00</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="mt-element-overlay">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mt-overlay-1" style="width: 258px;height: 258px">
                                                <img  src="{{settings.assetsPath}}/pages/img/page_general_search/01.jpg" />
                                                <div class="mt-overlay">
                                                    <ul class="mt-info">
                                                        <li>
                                                            <a  ng-click="detail();" class="btn default btn-outline" >
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>