<h4 class="page-title">会员管理</h4>
<div class="row">
    <div class="col-md-12">
        <div class="portlet blue-steel box">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject bold uppercase">会员管理</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar"></div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="row col-md-12">
                                <div class="form-group col-md-3">
                                    <label class="control-label">报单状态</label>
                                    <select class="form-control input-sm input-small input-inline" ng-model="myPage.parameterMap.status">
                                        <option value="">全部</option>
                                        <option value="Y">已激活</option>
                                        <option value="N">未激活</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <label class="control-label col-md-2">报单时间</label>
                                    <div class="col-md-10">
                                        <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap.startTime"> <span class="input-group-addon"> to </span> <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.endTime">
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <div class="row col-md-12">
                              <div class="form-group col-md-3">
                                  <label class="control-label">会员姓名</label>
                                  <input type="text" class="form-control input-sm input-small input-inline" placeholder="请输入会员姓名" aria-controls="sample_1" maxlength="20" ng-model="myPage.parameterMap.name">
                              </div>
                              <div class="form-group col-md-3">
                                  <label class="control-label">登录账号</label>
                                  <input type="search"
                                         class="form-control input-sm input-small input-inline"
                                         id="memberPhone"
                                         placeholder="请输入登录账号"
                                         maxlength="15"
                                         aria-controls="sample_1" ng-model="myPage.parameterMap.phone">
                              </div>
                              <div class="form-group col-md-3">
                                  <label class="control-label">爵位</label>
                                  <select class="form-control input-sm input-small input-inline" ng-model="myPage.parameterMap.post">
                                      <option value="">全部</option>
                                      <option ng-repeat="post in posts" value="{{post.dicCode}}">{{post.dicName}}</option>
                                  </select>
                              </div>
                              <div class="form-group col-md-2">
                                  <button type="button" class="btn blue-steel pull-right" ng-click="search();"><i class="fa fa-search"></i> 查询</button>
                              </div>
                          </div>
                        </div>
                    </form>
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover blue-steel-table" id="sample_1">
                            <thead>
                                <tr >
                                    <th>姓名</th>
                                    <th>爵位</th>
                                    <th>电话</th>
                                    <th>报单金额</th>
                                    <th>推荐人</th>
                                    <!--<th>一代个数</th>-->
                                    <th>放置节点信息</th>
                                    <th>报单时间</th>
                                    <!--<th>激活时间</th>-->
                                    <th>状态</th>
                                    <!--<th>地址</th>-->
                                    <th ng-if="currentUser.roleId == 2">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-show= "!notData" dir-paginate="member in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                    <td><a ng-click="gotoAdmMemberInfo(member.id);" style="text-decoration:underline;">{{member.memberName}}</a></td>
                                <td>{{member.memberPost|PostLevelFilter}}</td>
                                <td>{{member.memberPhone}}</td>
                                <td>{{member.orderAmount | number:2}}</td>
                                <td>{{member.recommendName}}</td>
                                <!--<td>{{member.firstAgentCnt}}</td>-->
                                <td>{{member.parentMemberName}}</td>
                                <!--<td>{{member.createTime|date:'yyyy年MM月dd日 HH:mm'}}</td>-->
                                <td>{{member.createTime|date:'yyyy年MM月dd日 HH:mm'}}</td>
                                <td>{{member.status|recommendStatusFilter}}</td>
                                <!--<td>{{member.expressAddress}}</td>-->
                                <td ng-if="currentUser.roleId == 2">
                                    <a href="javascript:void(0);" ng-click="initMemberPassword(member.id, member.memberName);" class="btn btn-xs green-steel">密码初始化</a>
                                    <!--<a href="javascript:void(0);" ng-click="deleteMember(member.id, member.memberName, 'Y');" class="btn btn-xs red" ng-show="member.deleteFlag == 'N'">禁用</a>-->
                                    <!--<a href="javascript:void(0);" ng-click="deleteMember(member.id, member.memberName, 'N');" class="btn btn-xs blue" ng-show="member.deleteFlag == 'Y'">启用</a>-->
                                    <a href="javascript:void(0);" ng-click="showTab(member);" class="btn btn-xs blue-steel" ng-show="member.status == 'N'">充值</a>
                                </td>
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="10" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="other-controller">
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="add" class="modal fade" style="z-index: 1030" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blue-steel">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span id="lblAddTitle" style="font-weight:bold;color: white;">账号充值[{{chargeMember.memberName}},{{chargeMember.memberPhone}}]（只能输入整数）</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" id="ffAdd" action="" data-toggle="validator" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <label class="control-label col-md-2" style="padding-left: 10px">充值金额</label>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" placeholder="请输入充值金额" ng-model="param.chargeAmt" maxlength="12">
                                </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <button type="button" class="btn blue-steel" ng-click="ok();">确定</button>
                    <button type="button" class="btn green" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>