<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">我的分红包</h4>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-body">
                <div class="table-toolbar">

                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">领取状态</label>
                                <div class="col-md-7">
                                    <select ng-model="myPage.parameterMap.dividendStatus" class="form-control input-sm input-xsmall input-inline">
                                        <option value="">全部</option>
                                        <option value="1">领取中</option>
                                        <option value="2">领取完</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">订单号</label>
                                <div class="col-md-7">
                                    <input type="search"
                                           ng-model="myPage.parameterMap.orderNo"
                                           class="form-control input-sm input-small input-inline"
                                           placeholder="输入订单号"
                                           aria-controls="sample_1">
                                </div>
                            </div>
                            <div class="form-group col-md-1">
                                <div class="col-md-12">
                                    <button type="button" class="btn green" ng-click="searchByParam()"><i class="fa fa-search"></i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               id="sample_1">
                            <thead>
                            <tr >
                                <th >订单编号</th>
                                <th >分红包个数</th>
                                <th >订单金额</th>
                                <th >已领取金额</th>
                                <th>未领取金额</th>
                                <th >领取金额上限</th>
                                <th >状态</th>
                                <th >操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show= "!notData" class="odd gradeX" dir-paginate="row in myPage.result | itemsPerPage: myPage.result.pageSize" current-page="myPage.result.pageNo"
                                total-items="myPage.result.totalCount">
                                <td>{{row.orderNo}}</td>
                                <td>{{row.dividendCount}}</td>
                                <td>{{row.orderAmount}}</td>
                                <td>{{row.receivedAmount}}</td>
                                <td>{{row.remainAmount}}</td>
                                <td>{{row.dividendLimit}}</td>
                                <td><span class="label label-sm label-success"> {{row.dividendStatus | StatusFilter}} </span></td>
                                <td><a href="javascript:;" > 领取明细 </a></td>
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="8">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                            <div class="text-center">
                                <dir-pagination-controls
                                        boundary-links="true"
                                        on-page-change="pageChangeHandler(newPageNumber)"
                                        template-url="app/common/pagination/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>