<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">job奖金发放管理</h4>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet blue-steel box">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject bold uppercase">job奖金发放管理</span>
                </div>
            </div>
            <script type="text/ng-template" id="bonusProc.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 ng-show="poolType == '1'" class="modal-title">拨资金到分红包发放池</h3>
                    <h3 ng-show="poolType == '2'" class="modal-title">拨资金到广告宣传奖发放池</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="note note-info note-bordered">
                                <h4>资金池金额:{{datas.bonusPoolAmt}}</h4>
                                <h4>发放池金额:{{datas.bonusCachePoolAmt}}</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="number" class="form-control" ng-model="payAmt">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn blue-steel" type="button" ng-click="ok()">确认补发</button>
                    <button type="button"  class="btn default"  ng-click="cancel()">取消</button>
                </div>
            </script>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="note note-info note-bordered">
                                <p> <span>总营业额：{{titleData.totalSales | number:2}}</span>  <span style="margin-right: 20px">总发放奖金额：{{titleData.totalBonus | number:2}}</span>  </p>
                                <p> <span>平台沉淀资金总额：{{titleData.platformAmount | number:2}}</span>  <span style="margin-right: 20px">奖金池资金：{{titleData.poolAmount | number:2}}</span></p>
                                <p> <span>公司账户资金余额：{{titleData.accountAmount | number:2}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="col-md-12">
                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">发放时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="from" ng-model="myPage.parameterMap.startTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to" ng-model="myPage.parameterMap.endTime">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-7">
                                <div class="col-md-12">
                                    <button type="button" class="btn blue-steel" ng-click="searchByParam();"><i class="fa fa-search"></i>查询</button>

                                    <button type="button" class="btn red" ng-click="bonusProc(1);">确认分红包发放资金</button>
                                    <button type="button" class="btn red" ng-click="bonusProc(2);">确认广告宣传奖发放资金</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table blue-steel-table table-bordered table-hover"
                               id="sample_1">
                            <thead>
                                <tr >
                                    <th>发放日期</th>
                                    <th>数据处理日期</th>
                                    <th>营业额|折扣单营业额</th>
                                    <th>日发放奖金总额</th>
                                    <th colspan="3">分红包发放状态 | 营业额20% | 分红包发放额</th>
                                    <th colspan="3">广告宣传奖状态 | 营业额10% | 广告宣传奖发放额 </th>
                                    <!--<th>补发分红包</th>-->
                                    <!--<th>补发广告宣传奖</th>-->
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-show= "!notData" class="odd gradeX" dir-paginate="row in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo"
                                total-items="myPage.totalCount">
                                <td>{{row.date |date:'yyyy-MM-dd'}}</td>
                                <td>{{row.createTime |date:'yyyy-MM-dd'}}</td>
                                <td>+{{row.totalSales |  number:2}} | +{{row.dayDiscountSales |  number:2}}</td>
                                <td>-{{row.dayActualBonus |  number:2}}</td>
                                <td >
                                    <span class="label label-sm " style="float: left" ng-class="{'label-danger': row.alarmStatus ==0,  'label-success': row.alarmStatus ==1}">
                                         {{row.alarmStatus |warningStatusFilter}}
                                     </span>
                                </td>
                                <td class="text-right">
                                    +{{row.dividendTotal |  number:2}}
                                </td>
                                <td class="text-right">
                                   -{{row.useDividendTotal |  number:2}}
                                </td>
                                <td >
                                    <span class="label label-sm " style="float: left" ng-class="{'label-danger': row.jdAlarmStatus ==0,  'label-success': row.jdAlarmStatus ==1}">
                                         {{row.jdAlarmStatus |warningStatusFilter}}
                                     </span>
                                </td>
                                <td class="text-right">
                                    +{{row.jdBonusTotal |  number:2}}
                                </td>
                                <td class="text-right">
                                   -{{row.useJdBonusTotal  |  number:2}}
                                </td>
                                <!--<td><a href="javascript:void(0);" ng-if="row.alarmStatus==0"   ng-click="bonusProc('1');" class="btn btn-xs grey-cascade">补发分红包</a></td>-->
                                <!--<td><a href="javascript:void(0);" ng-if="row.jdAlarmStatus==0" ng-click="bonusProc('2');" class="btn btn-xs grey-cascade">补发广告宣传奖金</a></td>-->
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="8" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <dir-pagination-controls
                                    boundary-links="true"
                                    on-page-change="pageChangeHandler(newPageNumber)"
                                    template-url="app/common/pagination/dirPagination.tpl.html">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>

<!-- END MAIN CONTENT -->
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>