<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distribution.dao.order.mapper.more.MoreOrderMasterMapper" >
  <resultMap id="BaseResultMap" type="com.distribution.dao.order.model.more.MoreOrderMaster" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="BIGINT" />
    <result column="order_category" property="orderCategory" jdbcType="CHAR" />
    <result column="order_amt" property="orderAmt" jdbcType="DECIMAL" />
    <result column="order_qty" property="orderQty" jdbcType="INTEGER" />
    <result column="goods_cd" property="goodsCd" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsNm" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="INTEGER" />
    <result column="act_amt" property="actAmt" jdbcType="DECIMAL" />
    <result column="express_fee" property="expressFee" jdbcType="DECIMAL" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="receive_name" property="receiveName" jdbcType="VARCHAR" />
    <result column="express_address" property="expressAddress" jdbcType="VARCHAR" />
    <result column="member_level" property="memberLevel" jdbcType="VARCHAR" />
    <result column="order_statues" property="orderStatues" jdbcType="CHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
      order_no, order_category, order_amt, order_qty, discount, act_amt, express_fee, member_id,
      receive_name, express_address, member_level, order_statues, create_id, create_time,
      update_id, update_time
  </sql>

   <sql id="where">
     <where>
       <if test="parameterMap.memberId!=null and parameterMap.memberId!=''">
         AND member_id = #{parameterMap.memberId}
       </if>
       <if test="parameterMap.orderStatus!=null and parameterMap.orderStatus!=''">
         AND order_statues = #{parameterMap.orderStatus}
       </if>
       <if test="parameterMap.orderNo!=null and parameterMap.orderNo!=''">
         AND order_no = #{parameterMap.orderNo}
       </if>
       <if test="parameterMap.start!=null and parameterMap.start!=''">
         AND create_time BETWEEN #{parameterMap.start} AND #{parameterMap.end}
       </if>
     </where>
   </sql>

  <sql id="pageLimit">
    <if test="pageSize!=null">
      <if test="offset!=null">
        LIMIT #{pageSize} OFFSET #{offset}
      </if>
    </if>
  </sql>

  <select id="getOrderListCount" parameterType="com.distribution.common.utils.Page" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM order_master <include refid="where"/>
  </select>
  
  <select id="getOrderList" parameterType="com.distribution.common.utils.Page" resultMap="BaseResultMap">
    SELECT a.id
         , a.order_no
         , a.order_category
         , a.order_amt
         , a.discount
         , a.act_amt
         , b.goods_cd
         , c.goods_name
         , b.order_qty
         , a.express_fee
         , a.member_id
         , a.receive_name
         , a.express_address
         , a.member_level
         , a.order_statues
         , a.create_id
         , a.create_time
         , a.update_id
         , a.update_time
      FROM order_master a,  order_detail b, goods c
      WHERE a.order_no = b.order_no
        AND b.goods_cd = c.id
        <if test="parameterMap.memberId!=null and parameterMap.memberId!=''">
            AND a.member_id = #{parameterMap.memberId}
        </if>
        <if test="parameterMap.orderStatus!=null and parameterMap.orderStatus!=''">
            AND a.order_statues = #{parameterMap.orderStatus}
        </if>
        <if test="parameterMap.orderNo!=null and parameterMap.orderNo!=''">
            AND a.order_no = #{parameterMap.orderNo}
        </if>
        <if test="parameterMap.start!=null and parameterMap.start!=''">
            AND a.create_time BETWEEN #{parameterMap.start} AND #{parameterMap.end}
        </if>
  </select>

    <insert id="insertOrder" parameterType="com.distribution.dao.order.model.more.MoreOrderMaster" useGeneratedKeys="true" keyProperty="id">
        insert into order_master (order_no, order_category, order_amt,
        order_qty, discount, act_amt,
        express_fee, member_id, receive_name,
        express_address, member_level, order_statues,
        create_id, create_time, update_id,
        update_time)
        values (#{orderNo,jdbcType=BIGINT}, #{orderCategory,jdbcType=CHAR}, #{orderAmt,jdbcType=DECIMAL},
        #{orderQty,jdbcType=INTEGER}, #{discount,jdbcType=INTEGER}, #{actAmt,jdbcType=DECIMAL},
        #{expressFee,jdbcType=DECIMAL}, #{memberId,jdbcType=INTEGER}, #{receiveName,jdbcType=VARCHAR},
        #{expressAddress,jdbcType=VARCHAR}, #{memberLevel,jdbcType=VARCHAR}, #{orderStatues,jdbcType=CHAR},
        #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=INTEGER},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertOrderDetail" parameterType="com.distribution.dao.order.model.more.MoreOrderMaster" >
        insert into order_detail (order_no, goods_cd, order_amt,
        order_qty, create_id, create_time,
        update_id, update_time)
        values (#{orderNo,jdbcType=INTEGER}, #{goodsCd,jdbcType=VARCHAR}, #{orderAmt,jdbcType=DECIMAL},
        #{orderQty,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

  <!--<select id="getOrderList" parameterType="com.distribution.common.utils.Page" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM order_master <include refid="where"/> <include refid="pageLimit"/>
  </select>-->

  <select id="countOrderAmcountByMemberId" resultType="java.lang.Double" parameterType="java.lang.Integer">
      SELECT SUM(order_amt) FROM order_master WHERE member_id = #{memberId}
  </select>

    <update id="confirmOrder" parameterType="com.distribution.dao.order.model.more.MoreOrderMaster" >
        update order_master
           set order_statues = #{orderStatues,jdbcType=CHAR},
               update_id = #{updateId,jdbcType=INTEGER},
               update_time = #{updateTime,jdbcType=TIMESTAMP}
         where id = #{id,jdbcType=INTEGER}
           and order_no = #{orderNo,jdbcType=BIGINT}
    </update>

</mapper>