<h4 class="page-title" xmlns="http://www.w3.org/1999/html">基本配置</h4>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-12">
                        <!-----------会员奖励------------------------>
                        <uib-tabset>
                            <uib-tab index="0" heading="会员奖励标准">
                                <div class="portlet-body">
                                    <div class="table-toolbar"></div>
                                    <div id="sample_1_wrapper" class="dataTables_wrapper">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover "
                                                   id="sample_1">
                                                <thead>
                                                <tr >
                                                    <th class="text-center" width="10%">会员等级</th>
                                                    <th class="text-center" width="15%">购买产品金额</th>
                                                    <th class="text-center" width="10%">产品数量</th>
                                                    <th class="text-center" width="10%">分红包</th>
                                                    <th class="text-center" width="10%">销售奖</th>
                                                    <th class="text-center" width="10%">1代</th>
                                                    <th class="text-center" width="10%">2代</th>
                                                    <th class="text-center" width="10%">公司分红</th>
                                                    <th class="text-center" width="15%">现金充值消费</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-show= "{{basicManage.typeCode == 'D01' && basicManage.detailCode != '00'}}" class="odd gradeX" dir-paginate="basicManage in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                                    <td class="text-left">{{basicManage.detailNm}}</td>
                                                    <td class="text-left">{{basicManage.buyAmt|number:2}}</td>
                                                    <td class="text-left">{{basicManage.buyQty}}</td>
                                                    <td class="text-left">{{basicManage.devidendCnt}}</td>
                                                    <td class="text-left">{{basicManage.salesBonusPer}}%</td>
                                                    <td class="text-left">{{basicManage.salesBonusPer1}}%</td>
                                                    <td class="text-left">{{basicManage.salesBonusPer2}}%</td>
                                                    <td class="text-left">{{basicManage.profitPer}}%</td>
                                                    <td class="text-left">{{basicManage.discount}}%</td>
                                                </tr>
                                                <tr ng-show= "notData">
                                                    <td colspan="9" class="text-center">无记录</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="other-controller">
                                                <div class="text-center">
                                                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <!-----------见点奖点位------------------------>
                            <uib-tab index="1" heading="广告宣传奖上限标准">
                                <div class="portlet-body">
                                    <div class="table-toolbar"></div>
                                    <div id="sample_2_wrapper" class="dataTables_wrapper">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover "
                                                   id="sample_2">
                                                <thead>
                                                <tr >
                                                    <th class="text-center" width="50%">销售会员个数</th>
                                                    <th class="text-center" width="50%">广告宣传奖上限</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-show= "{{jdBasicManage.typeCode == 'D04' && jdBasicManage.detailCode != '00'}}" class="odd gradeX" dir-paginate="jdBasicManage in myPage.result | filter: 'D04' | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                                    <td class="text-left">{{jdBasicManage.recommendCnt}}</td>
                                                    <td class="text-left">{{jdBasicManage.remainCnt}}</td>

                                                </tr>
                                                <tr ng-show= "notData">
                                                    <td colspan="2" class="text-center">无记录</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="other-controller">
                                                <div class="text-center">
                                                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <!-----------提现设置------------------------>
                            <uib-tab index="2" heading="提现设置">
                                <form role="form" action="#">
                                    <div class="form-group"  ng-repeat="advanceBasic in myPage.result| filter:{typeCode : 'D09'} |filter : {detailCode : '00'}" ng-class="{'has-error':validateErrors.minAdvanceAmtError}">
                                        <label class="control-label" >每次提现最小金额(元)</label>
                                        <input type="number" ng-model="advanceBasic.minAmt" placeholder="提现最小金额" class="form-control input-circle input-large"/>
                                    </div>
                                    <div class="form-group" ng-repeat="advanceBasic in myPage.result| filter:{typeCode : 'D08'} |filter : {detailCode : '00'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">提现手续费(%)</label>
                                        <input type="number" ng-model="advanceBasic.maxPercent" placeholder="提现手续费" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="margiv-top-10">
                                        <a href="#" ng-click="saveBasic()" class="btn blue-steel">保存</a>
                                    </div>
                                </form>
                            </uib-tab>

                            <!-----------分红包设置------------------------>
                            <uib-tab index="3" heading="分红包设置">
                                <form role="form" action="#">
                                    <div class="form-group"  ng-repeat="dividendBasic in myPage.result| filter:{typeCode : 'D02'} |filter : {detailCode : '00'}" ng-class="{'has-error':validateErrors.minAdvanceAmtError}">
                                        <label class="control-label" >分红包金额(元)</label>
                                        <input type="number" ng-model="dividendBasic.maxAmt" placeholder="分红包金额" class="form-control input-circle input-large"/>
                                    </div>
                                    <div class="form-group" ng-repeat="dividendBasic in myPage.result| filter:{typeCode : 'D02'} |filter : {detailCode : '01'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">当日分红包占用营业额比例(%)</label>
                                        <input type="number" ng-model="dividendBasic.maxPercent" placeholder="当日分红包占用营业额比例" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="form-group" ng-repeat="dividendBasic in myPage.result| filter:{typeCode : 'D02'} |filter : {detailCode : '02'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">分红包满额比例(%)</label>
                                        <input type="number" ng-model="dividendBasic.maxPercent" placeholder="分红包满额比例" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="margiv-top-10">
                                        <a href="#" ng-click="saveBasic()" class="btn blue-steel">保存</a>
                                    </div>
                                </form>
                            </uib-tab>

                            <!-----------见点奖设置------------------------>
                            <uib-tab index="4" heading="广告宣传奖设置">
                                <form role="form" action="#">
                                    <div class="form-group"  ng-repeat="jdBasic in myPage.result| filter:{typeCode : 'D03'} |filter : {detailCode : '00'}" ng-class="{'has-error':validateErrors.minAdvanceAmtError}">
                                        <label class="control-label" >广告宣传奖金额(元)</label>
                                        <input type="number" ng-model="jdBasic.maxAmt" placeholder="广告宣传奖金额" class="form-control input-circle input-large"/>
                                    </div>
                                    <div class="form-group" ng-repeat="jdBasic in myPage.result| filter:{typeCode : 'D03'} |filter : {detailCode : '01'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">广告宣传奖占用营业额比例(%)</label>
                                        <input type="number" ng-model="jdBasic.maxPercent" placeholder="广告宣传奖占用营业额比例" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="margiv-top-10">
                                        <a href="#" ng-click="saveBasic()" class="btn blue-steel">保存</a>
                                    </div>
                                </form>
                            </uib-tab>

                            <!-----------级差奖设置------------------------>
                            <uib-tab index="5" heading="级差奖设置">
                                <form role="form" action="#">
                                    <div class="form-group"  ng-repeat="rankBasic in myPage.result| filter:{typeCode : 'D05'} |filter : {detailCode : '01'}" ng-class="{'has-error':validateErrors.minAdvanceAmtError}">
                                        <label class="control-label" >主任(%)</label>
                                        <input type="number" ng-model="rankBasic.maxPercent" placeholder="主任" class="form-control input-circle input-large"/>
                                    </div>
                                    <div class="form-group" ng-repeat="rankBasic in myPage.result| filter:{typeCode : 'D05'} |filter : {detailCode : '02'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">经理(%)</label>
                                        <input type="number" ng-model="rankBasic.maxPercent" placeholder="经理" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="form-group" ng-repeat="rankBasic in myPage.result| filter:{typeCode : 'D05'} |filter : {detailCode : '03'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">总监(%)</label>
                                        <input type="number" ng-model="rankBasic.maxPercent" placeholder="总监" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="form-group" ng-repeat="rankBasic in myPage.result| filter:{typeCode : 'D05'} |filter : {detailCode : '04'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">董事(%)</label>
                                        <input type="number" ng-model="rankBasic.maxPercent" placeholder="董事" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="form-group" ng-repeat="rankBasic in myPage.result| filter:{typeCode : 'D05'} |filter : {detailCode : '05'}"  ng-class="{'has-error':validateErrors.receivePhoneError}">
                                        <label class="control-label">全国董事(%)</label>
                                        <input type="number" ng-model="rankBasic.maxPercent" placeholder="全国董事" class="form-control input-circle input-large" />
                                    </div>
                                    <div class="margiv-top-10">
                                        <a href="#" ng-click="saveBasic()" class="btn blue-steel">保存</a>
                                    </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>