<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active"
                               data-target="#tab_1_1" data-toggle="tab">
                            <input type="radio" name="options" class="toggle" id="option1">个人信息</label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm " data-target="#tab_1_2" ng-show="false"
                               data-toggle="tab">
                            <input type="radio" name="options" class="toggle" id="option2">修改密码</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">姓名</label>
                                <div class="form-control" ng-bind="MemberInfo.memberName" readonly="readonly"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">账号</label>
                                <div class="form-control" ng-bind="MemberInfo.memberPhone" readonly="readonly"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">加入时间</label>
                                <div class="form-control" ng-bind="MemberInfo.createTime|date:'yyyy年MM月dd日'" readonly="readonly"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">会员等级</label>
                                <div class="form-control" ng-bind="MemberInfo.memberLevel|MemberLevelFilter" readonly="readonly"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">爵位等级</label>
                                <div class="form-control" ng-bind="MemberInfo.memberPost|PostLevelFilter" readonly="readonly"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">推荐人</label>
                                <div class="form-control" ng-bind="MemberInfo.recommendName" readonly="readonly"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">是否是运营中心</label>
                                <div class="form-control" readonly="readonly">{{MemberInfo.isOperator=='Y'?'是':'否'}}</div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">是否是销售部</label>
                                <div class="form-control" readonly="readonly">{{MemberInfo.isSalesDep=='Y'?'是':'否'}}</div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">一代人数</label>
                                <div class="form-control" readonly="readonly">{{MemberInfo.firstAgentCnt?MemberInfo.firstAgentCnt:0}}</div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">身份证号码</label>
                                <input type="text" placeholder="请输入身份证号码" class="form-control" ng-model="MemberInfo.idNumber" maxlength="18"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">收货人</label>
                                <input type="text" placeholder="请输入收货人姓名" class="form-control" ng-model="MemberInfo.consignee" maxlength="20"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">收货地址</label>
                                <input type="text" placeholder="请输入收货地址" class="form-control" ng-model="MemberInfo.expressAddress" maxlength="100"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">开户行</label>
                                <select class="form-control" ng-model="MemberInfo.bankName" ng-options="dic.dicCode as dic.dicName for dic in banks"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">开户姓名</label>
                                <input type="text" placeholder="请输入开户姓名" class="form-control" ng-model="MemberInfo.bankUserName" maxlength="20"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">银行卡号</label>
                                <input type="text" placeholder="请输入银行卡号" class="form-control" ng-model="MemberInfo.cardNumber" maxlength="20"/>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane" id="tab_1_2">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control"/></div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input type="password" class="form-control"/></div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input type="password" class="form-control"/></div>
                            <div class="margin-top-10">
                                <a href="#" class="btn blue-steel"> Change Password </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>