<!-- BEGIN PAGE HEADER-->
<h4 class="page-title" xmlns="http://www.w3.org/1999/html">订单管理</h4>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-body">
                <div class="table-toolbar"></div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">订单号</label>
                                <div class="col-md-7">
                                    <input type="search"
                                           class="form-control input-sm input-small input-inline"
                                           id="orderNo"
                                           placeholder="请输入订单号"
                                           maxlength="15"
                                           aria-controls="sample_1" ng-model="myPage.parameterMap.orderNo">
                                </div>
                            </div>

                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">订单时间</label>
                                <div class="col-md-8">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" id="startTime" name="from" ng-model="myPage.parameterMap.startTime">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" id="endTime" name="to" ng-model="myPage.parameterMap.endTime">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="col-md-12">
                                    <button type="button" class="btn green" ng-click="searchByParam();"><i class="fa fa-search"></i>查询</button>
                                    <button type="button" class="btn green" ng-click="excelDownload();"><i class="fa fa-download"></i>下载</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">订单来源</label>
                                <div class="col-md-7">
                                    <select id="orderCategory" class="form-control input-sm input-small input-inline" ng-model="myPage.parameterMap.orderCategory">
                                        <option value="">全部</option>
                                        <option value="1">报单</option>
                                        <option value="2">复投</option>
                                        <option value="3">折扣单</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-5">
                                <label class="control-label col-md-3">订单状态</label>
                                <div class="col-md-8">
                                    <select id="orderStatus" class="form-control input-sm input-small input-inline" ng-model="myPage.parameterMap.orderStatus">
                                        <option value="">全部</option>
                                        <option value="1">待支付</option>
                                        <option value="2">待发货</option>
                                        <option value="3">待收货</option>
                                        <option value="4">订单完成</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-4"></div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable" id="orderList">
                        <table class="table table-striped table-bordered table-hover "
                               id="sample_1">
                            <thead>
                            <tr >
                                <th class="text-center" width="9%">订单号</th>
                                <th class="text-center" width="5%">订单来源</th>
                                <th class="text-center" width="7%">会员</th>
                                <!--<th class="text-center" width="5%">会员级别</th>-->
                                <th class="text-center" width="4%">订单金额</th>
                                <th class="text-center" width="4%">支付金额</th>
                                <th class="text-center" width="5%">支付类型</th>
                                <th class="text-center" width="5%">快递费</th>
                                <th class="text-center" width="30%">商品名信息</th>
                                <th class="text-center" width="10%">订单时间</th>
                                <th class="text-center" width="5%">订单状态</th>
                                <th class="text-center" width="7%">物流信息</th>
                                <th class="text-center" width="9%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show= "!notData" class="odd gradeX" dir-paginate="orderMaster in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo" total-items="myPage.totalCount">
                                <td class="text-left">{{orderMaster.orderNo}}</td>
                                <td class="text-left">{{orderMaster.orderCategory|OrderCategoryFilter}}</td>
                                <td class="text-left">{{orderMaster.memberName}}</td>
                                <!--<td class="text-left">{{orderMaster.memberLevel|MemberLevelFilter}}</td>-->
                                <td class="text-left">{{orderMaster.orderAmt|number:2}}</td>
                                <td class="text-left">{{orderMaster.actAmt|number:2}}</td>
                                <td class="text-left">{{orderMaster.bonusAccountType|bonusAccountTypeFilter}}</td>
                                <td class="text-left">{{orderMaster.expressFee|number:2}}</td>
                                <td class="text-left">
                                    {{orderMaster.goodsNm}}
                                    <span ng-show="orderMaster.goodsNm != null">,</span>
                                    {{orderMaster.orderQty}}
                                    <span ng-show="orderMaster.orderQty != null">个</span>
                                </td>
                                <td class="text-left">{{orderMaster.createTime|date:'yyyy-MM-dd'}}</td>
                                <td class="text-left">
                                    <span class="label label-sm " ng-class="{'label-default': orderMaster.orderStatues == '1', 'label-info': orderMaster.orderStatues == '2', 'label-primary': orderMaster.orderStatues == '3', 'label-success': orderMaster.orderStatues == '4'}">
                                    {{orderMaster.orderStatues|OrderStatuesFilter}}
                                    </span>
                                </td>
                                <td>
                                    <!--<div class="btn btn-circle" >-->
                                           <button type="button"
                                                   class="btn btn-outline green-steel btn-xs"
                                                   ng-show="orderMaster.bonusAccountType != '1' && orderMaster.sendbypostyn == '2'"
                                                   ng-click="expressMessageSearch(orderMaster.expressNo, orderMaster.expressAddress, orderMaster.sendbypostyn, orderMaster.orderStatues)">物流信息
                                           </button>
                                    <!--</div>-->
                                    <span ng-show="orderMaster.sendbypostyn == '1'">自提</span>
                                </td>
                                <td class="text-left">
                                    <!--<div class="btn btn-circle" >-->
                                        <button type="button"
                                                ng-show="{{orderMaster.orderStatues == '2'}}"
                                                class="btn btn-outline blue-steel btn-xs"
                                                ng-click="confirmOrder(orderMaster.id,orderMaster.orderNo,'3',orderMaster.expressNo)">确认发货</button>
                                    <!--</div>-->
                                </td>
                            </tr>
                            <tr ng-show= "notData">
                                <td colspan="13" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>
                        <div >
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/common/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="admOrderExpress.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">请填写快递信息</h3>
    </div>
    <div class="modal-body">
        <div class="portlet-body form">
            <form role="form">
                    <textarea class="form-control" ng-model="datas.expressNo" maxlength="100" style="width: 100%;" rows="2"></textarea>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue-steel" ng-click="submit(datas.id, datas.orderNo, datas.statues, datas.expressNo);">提交</button>
        <button type="button" class="btn default" ng-click="close()">取消</button>
    </div>
</script>
<script type="text/ng-template" id="admExpressMessage.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">物流信息</h3>
    </div>
    <div class="modal-body">
        <div class="portlet-body form">
            <form role="form">
                <div class="form-body">
                    <div class="form-group col-md-12" ng-show="datasExpressMessage.expressNo != null">
                        <label class="control-label col-md-3">快递信息:</label>
                        <div class="col-md-9">
                            {{datasExpressMessage.expressNo}}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">收货地址:</label>
                        <div class="col-md-9">
                            {{datasExpressMessage.expressAddress}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" ng-click="close()">返回</button>
    </div>
</script>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>