<div class="page-group bg_white">
    <div class="page page-current">
        <nav class="bar bar-tab bar_btn">
            <div class="row no-gutter">
                <div class="ng-cloak" ng-cloak
                     ng-class="{'col-100':param.recommendType==4,'col-50':param.recommendType!=4}">
                    <a href="javascript:void(0);" ng-click="goList();" class="button button-light button-big external">返回列表</a>
                </div>
                <div class="col-50 ng-cloak" ng-show="detail.recommendType!=4" ng-cloak>
                    <a ui-sref="app.chooseShop({recommendId:param.id,goodsType:param.goodsType,state:'recommend'})"
                       ng-show="param.recommendType==1"
                       class="button button-big button-fill button-danger external">推荐预约</a>
                    <a ng-show="param.recommendType==2" ng-click="cancel(param.id)"
                       class="button button-big button-fill button-danger external">取消预约</a>
                    <a ng-show="param.recommendType==3" ng-click="re(param.id)"
                       class="button button-big button-fill button-danger external">重新预约</a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="icon_detail pt15 pb15 bb1 sign "
                 ng-class="{'sign_ytj':param.recommendType==1,'sign_yyy':param.recommendType==2,'sign_yqx':param.recommendType==3,'sign_tjcg':param.recommendType==4}">
                <div class="title_a mb5">预约信息</div>
                <div class="list_f">
                    <div class="row_a" ng-show="param.recommendStartTime && param.recommendEndTime">
                        <div class="col_i icon_d">预约时间</div>
                        <div class="col_flex"
                             ng-bind="(param.recommendStartTime | date:'yyyy-MM-dd') + ' ' + (param.recommendStartTime | date:'HH:mm') + '-' + (param.recommendEndTime | date:'HH:mm')">
                        </div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-show="param.shopName && param.shopName.length>0">
                        <div class="col_i icon_e">店铺</div>
                        <div class="col_flex" ng-bind="param.shopName"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-show="param.shopName && param.shopAddress.length>0">
                        <div class="col_i icon_f">地址</div>
                        <div class="col_flex" ng-bind="param.shopAddress"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-show="param.shopName && param.shopTel.length>0">
                        <div class="col_i icon_g">电话</div>
                        <div class="col_flex" ng-bind="param.shopTel"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-hide="!param.name || param.name.length==0">
                        <div class="col_i icon_e">联系人</div>
                        <div class="col_flex" ng-bind="param.name"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-hide="!param.phone || param.phone.length==0">
                        <div class="col_i icon_e">手机号</div>
                        <div class="col_flex" ng-bind="param.phone"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-hide="!param.bakName || param.bakName.length==0">
                        <div class="col_i icon_e">备用联系人</div>
                        <div class="col_flex" ng-bind="param.bakName"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-hide="!param.bakPhone || param.bakPhone.length==0">
                        <div class="col_i icon_e">备用手机号</div>
                        <div class="col_flex" ng-bind="param.bakPhone"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-hide="!param.address || param.address.length==0">
                        <div class="col_i icon_e">地址</div>
                        <div class="col_flex" ng-bind="param.address"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak
                         ng-hide="!param.detailAddress || param.detailAddress.length==0">
                        <div class="col_i icon_f">详细地址</div>
                        <div class="col_flex" ng-bind="param.detailAddress"></div>
                    </div>
                    <div class="row_a ng-cloak" ng-cloak ng-hide="!param.remark || param.remark.length==0">
                        <div class="col_i icon_g">备注</div>
                        <div class="col_flex" ng-bind="param.remark"></div>
                    </div>
                </div>
            </div>
            <div class="pb20 ng-cloak" ng-cloak ng-show="goodsList.length>0">
                <div class="title_a">
                    <span ng-show="param.goodsType==1" ng-bind="'房产(' + goodsList.length + ')'"></span>
                    <span ng-show="param.goodsType==2" ng-bind="'汽车(' + goodsList.length + ')'"></span>
                    <span ng-show="param.goodsType==3">{{goodsList[0].name1}}({{goodsList.length}})</span>
                </div>
                <div class="detail_content row_b ng-cloak" ng-cloak ng-repeat="goods in goodsList track by $index" style="word-break: break-all;">
                    <!--house-->
                    <div class="row_b lh20 col_100" ng-show="param.goodsType==1">
                        <div class="col_100">小区名称:<span class="color_grey">{{goods.house.communityName}}</span></div>
                        <div class="col_100 pt5 ng-cloak" ng-cloak ng-show="goods.materialIds.length>0">
                            <div class="pb5" ng-show="goods.goodsType==2" ng-bind="'行驶证'"></div>
                            <div class="pb5" ng-show="goods.goodsType==1" ng-bind="'房产证'"></div>
                            <div class="pb5" ng-show="goods.goodsType==3" ng-bind="'物品附件'"></div>
                            <div class="row_b list_c ng-cloak" ng-cloak>
                                <div class="item" ng-click="previewImage(url,goods.materialIds)"
                                     ng-repeat="url in goods.materialIds track by $index">
                                    <figure class="thumb thumb_11 bg">
                                        <a><img ng-src="{{url}}"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col_100">有无贷款:<span class="color_grey">{{goods.house.isLoan | isLoan}}</span></div>
                        <div class="col_100">建筑面积:<span class="color_grey">{{goods.house.buildingArea}}平米</span></div>
                        <div class="col_100">建筑年份:<span class="color_grey">{{goods.house.constructYear?goods.house.constructYear:''}}年 建筑</span></div>
                        <div class="col_100">房屋地址:<span class="color_grey">{{goods.house.address}}</span></div>
                        <div class="col_100">详细地址:<span class="color_grey">{{goods.house.detailAddress}}</span></div>
                        <div class="col_100">房屋描述:<span class="color_grey">{{goods.house.description}}</span></div>
                    </div>
                    <!--car-->
                    <div class="row_b lh20 col_100" ng-show="param.goodsType==2">
                        <div class="col_100">机动车品牌型号:<span class="color_grey">{{goods.car.brandModel}}</span></div>
                        <div class="col_100 pt5 ng-cloak" ng-cloak ng-show="goods.materialIds.length>0">
                            <div class="pb5" ng-show="goods.goodsType==2" ng-bind="'行驶证'"></div>
                            <div class="pb5" ng-show="goods.goodsType==1" ng-bind="'房产证'"></div>
                            <div class="pb5" ng-show="goods.goodsType==3" ng-bind="'物品附件'"></div>
                            <div class="row_b list_c ng-cloak" ng-cloak>
                                <div class="item" ng-click="previewImage(url,goods.materialIds)"
                                     ng-repeat="url in goods.materialIds track by $index">
                                    <figure class="thumb thumb_11 bg">
                                        <a><img ng-src="{{url}}"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col_100">原始购买价格:<span class="color_grey">{{goods.car.originalPurchasePrice}}元</span></div>
                        <div class="col_100">国产/进口:<span class="color_grey">{{goods.car.isImport | Import}}</span></div>
                        <div class="col_100">车况:<span class="color_grey">{{goods.car.carCondition}}</span></div>
                        <div class="col_100">发动机燃油:<span class="color_grey">{{goods.car.fuel}}</span></div>
                        <div class="col_100">行驶里程:<span class="color_grey">{{goods.car.mileage + goods.car.unit}}</span></div>
                        <div class="col_100">登记日期:<span class="color_grey">{{goods.car.registrationTime | date:'yyyy-MM-dd'}}</span></div>
                        <div class="col_100">出厂日期:<span class="color_grey">{{goods.car.productionTime | date:'yyyy-MM-dd'}}</span></div>
                    </div>
                    <!--goods-->
                    <div class="row_b lh20 col_100" ng-show="param.goodsType==3">
                        <div class="col_50 pr5"><span class="color_grey">{{goods.name2}}</span></div>
                        <div class="col_50"><span class="color_grey">{{goods.name3}}</span></div>
                        <div class="col_100 pt5 ng-cloak" ng-cloak ng-show="goods.materialIds.length>0">
                            <div class="pb5" ng-show="goods.goodsType==1" ng-bind="'房产证'"></div>
                            <div class="pb5" ng-show="goods.goodsType==2" ng-bind="'行驶证'"></div>
                            <div class="pb5" ng-show="goods.goodsType==3" ng-bind="'物品附件'"></div>
                            <div class="row_b list_c ng-cloak" ng-cloak>
                                <div class="item" ng-click="previewImage(url,goods.materialIds)"
                                     ng-repeat="url in goods.materialIds track by $index">
                                    <figure class="thumb thumb_11 bg">
                                        <a><img ng-src="{{url}}"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col_100">物品描述:<span class="color_grey">{{goods.description}}</span></div>
                    </div>
                    <!--pic-->
                    <!--<div class="col_100 pt5 ng-cloak" ng-cloak ng-show="goods.materialIds.length>0">
                        <div class="pb5" ng-show="goods.goodsType==2" ng-bind="'行驶证'"></div>
                        <div class="pb5" ng-show="goods.goodsType==1" ng-bind="'房产证'"></div>
                        <div class="pb5" ng-show="goods.goodsType==3" ng-bind="'物品附件'"></div>
                        <div class="row_b list_c ng-cloak" ng-cloak>
                            <div class="item" ng-click="previewImage(url,goods.materialIds)"
                                 ng-repeat="url in goods.materialIds track by $index">
                                <figure class="thumb thumb_11 bg">
                                    <a><img ng-src="{{url}}"></a>
                                </figure>
                            </div>
                        </div>
                    </div>-->
                    <!--dynamics-->
                    <div class="col_100" ng-show="goods.dynamics.length>0" ng-repeat="dynamic in goods.dynamics">
                        <span class="pb5 color_black" ng-bind="dynamic.pageLable+':'" ng-if="goods.publicGoods[dynamic.propertyName]">:</span>
                        <span class="pb5 color_black">{{goods.publicGoods[dynamic.propertyName]}}</span>
                    </div>
                </div>
            </div>
            <div class="title_a">预计本次返费为{{param.rebateAmount | ZeroFilter}}元</div>
        </div>
    </div>
</div>