<div class="page-group bg_white">
    <div class="page page-current">
        <nav class="bar bar-tab bar_btn">
            <div class="row no-gutter">
                <div class="col-50"><a class="button button-light button-big" ng-click="gotoListPage()">取消</a></div>
                <div class="col-50"><a class="button button-big button-fill button-danger" ng-click="gotoAddPage2()">开始推荐</a></div>
            </div>
        </nav>
        <div class="content">
            <div class="pt15 pb15 ml20 mr20 bb1">
                <div class="row pt5 pb30 pl20 pr20">
                    <div class="col-33" ng-class="{'active':rebateParam.goodsType==3}">
                        <a class="button button-danger" ng-click="changeInfo(3);">民品</a>
                    </div>
                    <div class="col-33" ng-class="{'active':rebateParam.goodsType==2}">
                        <a class="button button-danger" ng-click="changeInfo(2);">汽车</a>
                    </div>
                    <div class="col-33" ng-class="{'active':rebateParam.goodsType==1}">
                        <a class="button button-danger" ng-click="changeInfo(1);">房产</a>
                    </div>
                </div>
				<!--
                <div class="row_a font16 pb10">
                    <div class="col_b"><span class="star"></span>贷款金额</div>
                    <div class="col_flex"><input type="number" class="input_a" ng-model="rebateParam.loanCount" placeholder="0.00"></div>
                    <div class="col_d">元</div>
                </div>
                <div class="row_a font16 pb10">
                    <div class="col_b"><span class="star"></span>贷款期限</div>
                    <div class="col_flex select_a">
                        <select ng-model="rebateParam.loanTerm">
                            <option value="">请选择</option>
                            <option value="1">1个月</option>
                            <option value="3">3个月</option>
                            <option value="6">6个月</option>
                            <option value="9">9个月</option>
                        </select>
                    </div>
                    <div class="col_d"></div>
                </div>
                <div class="row_a font16">
                    <div class="col_b"><span class="star"></span>收取典当总费率(月费率)</div>
                    <div class="col_flex"><input type="number" class="input_a" ng-model="rebateParam.interestRate"></div>
                    <div class="col_d">%</div>
                </div>
				-->
            </div>
			<!--
            <div class="pt15 ml20 mr20">
				
                <div class="row_a font16 pb15">
                    <div class="col_c"></div>
                    <div class="col_flex"><a class="button button-fill button-danger" ng-click="rebate()">返费评估</a></div>
                    <div class="col_c"></div>
                </div>
				-->
                <div class="row_a font16 pb15" ng-show="rebateParam.rebateMax">
                    <!--<div class="col_d"></div>-->
                        <a class="col_flex btn_add">
                            <span class="a2">预计本次返费{{rebateParam.rebateMin}}至{{rebateParam.rebateMax}}元</span>
                        </a>
                    <!--<div class="col_d"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>