<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">推荐网络图</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-body">

                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content" >
                        <a style="padding-bottom: 5px" class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0"  ng-click="toggle_(this)"><span
                                class="glyphicon"
                                ng-class="{
                                      'glyphicon-chevron-right': collapsed,
                                      'glyphicon-chevron-down': !collapsed
                                    }"></span></a>
                        {{node.title}}
                        <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span-->
                                <!--class="glyphicon glyphicon-remove"></span></a>-->
                        <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span-->
                        <!--class="glyphicon glyphicon-plus"></span></a>-->
                        <div class="pull-right" ng-show="this.$modelValue.nodes.length < 2">
                            <label class="mt-radio">
                                <input type="radio" value="node.id" name="node">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                        </li>
                    </ol>
                </script>
                <div class="row">
                    <div class="col-sm-12">
                        <p style="margin-bottom:20px">
                            <a href="javascript:;" class="btn green-haze btn-outline sbold uppercase"  ng-click="expandAll()"> 展开</a>
                            <a href="javascript:;" class="btn green-haze btn-outline sbold uppercase"  ng-click="collapseAll()"> 收起</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div ui-tree id="tree-root" data-drag-enabled="false" data-nodrop-enabled="false" data-clone-enabled="false">
                            <ol ui-tree-nodes ng-model="data">
                                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info">
                            {{info}}
                        </div>
                        <pre class="code">{{ data | json }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<script type="text/javascript">

</script>
