<!-- BEGIN HEADER INNER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN LOGO -->
    <div class="page-logo bg-blue-steel">
        <a ui-sref="app.home">
            <img src="{{settings.layoutPath}}/img/logo.png" alt="logo" class="logo-default" style=" margin: 14px 0 0;"/> </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu" style="float: left">
            <ul class="nav navbar-nav pull-right">

                <li class="dropdown dropdown-user" style="padding-left: 0px">
                    <a href="#" ui-sref="app.member.overview" class="dropdown-toggle" style="padding-right: 10px" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <i class="icon-user" aria-hidden="true"></i>
                        <span class="username" ng-if="currentUser.roleId == '1'"> {{currentUser.memberPhone}}</span>
                        <span class="username" ng-if="currentUser.roleId == '2' || currentUser.roleId == '3'"> {{currentUser.mobile}}</span>
                    </a>
                </li>

                <li ng-if="currentUser.roleId == '2' || currentUser.roleId == '3'" class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="#" ui-sref="app.admWarning" class="dropdown-toggle" style="padding:27px 10px" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-danger"> 7 </span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">

                <li class="dropdown dropdown-user" style="padding-left: 0px">
                    <a href="#" class="dropdown-toggle" ng-click="logOut();" style="padding-right: 10px" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <i class="icon-logout" aria-hidden="true"></i>
                        <span class="username"> 退出 </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->