<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distribution.dao.accountFlowHistory.mapper.more.MoreAccountFlowHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.distribution.dao.accountFlowHistory.model.AccountFlowHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="total_amt" property="totalAmt" jdbcType="DECIMAL" />
    <result column="bonus_amt" property="bonusAmt" jdbcType="DECIMAL" />
    <result column="seed_amt" property="seedAmt" jdbcType="DECIMAL" />
    <result column="flow_type" property="flowType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="old_total_bonus_amt" property="oldTotalBonusAmt" jdbcType="DECIMAL" />
    <result column="new_total_bonus_amt" property="newTotalBonusAmt" jdbcType="DECIMAL" />
    <result column="old_total_seed_amt"  property="oldTotalSeedAmt" jdbcType="DECIMAL" />
    <result column="new_total_seed_amt"  property="newTotalSeedAmt" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="Base_Column_List" >
    a.id, a.member_id, a.create_time, a.create_id, a.type, a.total_amt, a.bonus_amt, a.seed_amt, a.flow_type,
    a.remark, a.old_total_bonus_amt, a.new_total_bonus_amt, a.old_total_seed_amt, a.new_total_seed_amt
  </sql>
  <sql id="where">
    <where>
      a.member_id = #{parameterMap.memberId}
      <if test="parameterMap.startTime != null and parameterMap.startTime != ''">
        <![CDATA[AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= #{parameterMap.startTime}]]>
      </if>
      <if test="parameterMap.endTime != null and parameterMap.endTime != ''">
        <![CDATA[AND DATE_FORMAT(a.create_time, '%Y-%m-%d') <= #{parameterMap.endTime}]]>
      </if>
    </where>
  </sql>

  <sql id="pageLimit">
    <if test="pageSize!=null">
      <if test="offset!=null">
        LIMIT #{pageSize} OFFSET #{offset}
      </if>
    </if>
  </sql>

  <select id="getAccountHistoryList" resultMap="BaseResultMap" parameterType="com.distribution.common.utils.Page" >
    select 
    <include refid="Base_Column_List" />
    from account_flow_history a
    <include refid="where"/>
    order by a.id desc
    <include refid="pageLimit"/>
  </select>
  <select id="getAccountHistoryListCount" resultType="java.lang.Integer" parameterType="com.distribution.common.utils.Page" >
    select
    count(0)
    from account_flow_history a
    <include refid="where"/>

  </select>

</mapper>