<h4 class="page-title">个人信息</h4>
<div class="row">
    <div class="col-md-offset-1 col-md-8 ">
        <div class="portlet box blue-steel ">
            <div class="portlet-title">
                <div class="caption ">
                    <i class="icon-settings"></i>
                    <span class="caption-subject bold uppercase"> 个人信息修改</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label >姓名</label>
                            <input type="text" class="form-control input-circle" ng-model="user.name" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label >原登录密码</label>
                            <input type="password" class="form-control input-circle" placeholder="请输入原登录密码" ng-model="pwdAdmin.oldLoginPwd">
                        </div>
                        <div class="form-group">
                            <label >新登录密码</label>
                            <input type="password" class="form-control input-circle" placeholder="请输入新登录密码" ng-model="pwdAdmin.password">
                        </div>
                        <div class="form-group">
                            <label >密码确认</label>
                            <input type="password" class="form-control input-circle" placeholder="请再次输入新登录密码" ng-model="param.loginPasswordConfirm">
                        </div>
                    </div>
                        <div class="form-actions">
                            <button type="button" class="btn blue-steel" ng-click="savePwd();">提交</button>
                            <button type="button" class="btn default" ui-sref="app.admin">返回</button>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>
