<!-- BEGIN PAGE HEADER-->
<h4 class="page-title">管理员列表</h4>
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet blue-steel box">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject bold uppercase">管理员列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn sbold blue-steel" ng-click="gotoAddPage();" > 创建管理员
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">姓名</label>
                                <div class="col-md-7">
                                    <input type="search"
                                           ng-model="myPage.parameterMap.name"
                                           class="form-control input-sm input-small input-inline"
                                           placeholder="输入姓名"
                                           aria-controls="sample_1">
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label col-md-5">角色</label>
                                <div class="col-md-7">
                                    <select ng-model="myPage.parameterMap.roleId" class="form-control input-sm input-inline">
                                        <option value="">全部</option>
                                        <option value="2">系统管理员</option>
                                        <option value="3">财务</option>
                                        <option value="4">物流管理员</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-1">
                                <div class="col-md-12">
                                    <button type="button" class="btn blue-steel" ng-click="searchByParam()"><i class="fa fa-search"></i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    <div class="table-scrollable">
                        <table class="table blue-steel-table table-bordered table-hover"
                               id="sample_1">
                            <thead>
                            <tr >
                                <th class="text-center">姓名</th>
                                <th class="text-center">角色</th>
                                <th class="text-center">电话</th>
                                <th class="text-center">管理员状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show= "!notData" class="odd gradeX" dir-paginate="row in myPage.result | itemsPerPage: myPage.pageSize" current-page="myPage.pageNo"
                                total-items="myPage.totalCount">
                                <td class="text-center">{{row.name}}</td>
                                <td class="text-center">{{row.roleId | RoleFilter}}</td>
                                <td class="text-center">{{row.mobile}}</td>
                                <td class="text-center">{{row.deleteFlag | DeleteFlagFilter}}</td>
                                <td class="text-center">
                                    <a href="javascript:void(0);"  ng-click="updateAdminDeleteFlag(row.id, row.name, row.roleId | RoleFilter, 'Y')" ng-show="{{currentUser.id != row.id && row.deleteFlag == 'N'}}" class="btn btn-xs grey-cascade"> 禁用 </a>
                                    <a href="javascript:void(0);"  ng-click="updateAdminDeleteFlag(row.id, row.name, row.roleId | RoleFilter, 'N')" ng-show="{{currentUser.id != row.id && row.deleteFlag == 'Y'}}" class="btn btn-xs green"> 启用 </a>
                                    <a href="javascript:void(0);"  ng-click="initAdminPassword(row.id, row.name, row.roleId | RoleFilter);" ng-show="{{currentUser.id != row.id}}" class="btn btn-xs red">密码初始化</a>
                                </td>
                            </tr>
                            <tr ng-show= "notData" >
                                <td colspan="5" class="text-center">无记录</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <dir-pagination-controls
                                    boundary-links="true"
                                    on-page-change="pageChangeHandler(newPageNumber)"
                                    template-url="app/common/pagination/dirPagination.tpl.html">
                            </dir-pagination-controls>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
